<h1>About</h1>
<p>
  This application was developed by <a target="_blank" href="https://www.linkedin.com/in/louis-brazier/">Louis BRAZIER</a>, software engineering student at <a href="https://polytech.univ-lyon1.fr/">Polytech Lyon</a>.
</p>
<p>
  The website use <a target="_blank" href="https://www.emberjs.com/">Ember.js</a> framework. It retrieves data from an <a target="_blank" href="https://igdb.github.io/api/examples/">API</a> (<a target="_blank" href="https://igdb.github.io/api/examples/">https://igdb.github.io/api/examples/</a>) to display and search a list of video games.
</p>